
body {
  background: #fff;
  overflow: hidden;
}

#stage {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

#stage .box {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-backface-visibility: hidden;
}

#stage #box-1 {
  top: 0;
  left: 0;
  background: #e7204e;
  z-index: 1;
}

#stage #box-2 {
  top: 0;
  left: 50px;
  background: #2af207;
  z-index: 2;
}

#stage #box-3 {
  top: 0;
  left: 100px;
  background: #0ef2f9;
  z-index: 3;
}

/* EOF */